
python-jobspy==1.1.76
requests
beautifulsoup4
flask
matplotlib
python-dotenv
googlemaps
crochet
flask_ngrok
flask_cors
numpy
pandas
pydantic
regex
tls-client
six
python-dateutil
pytz
tzdata
attrs
automat
constantly
hyperlink
incremental
zope-interface
setuptools
tomli
flask-mail
pyngrok
PyYAML
